* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* About Me Page */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/GW-body-Background.jpg");
  background-size: contain;
  background-position: center;
  background-color: rgb(13,20,35);
  font-family: Garamond, serif;
}
  
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/GW-Header-BG.jpg"); 
  background-size: cover; 
  background-position: bottom;
  height: 100%;
  width: 100%;
  height: 40vw;
  margin: 0 auto;
}

.navbar {
  display: flex;
  height: 12.6vw;
  width: 73vw;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin-top: 7vw;
}

/*
.about-me-button,
.projects-button,
.blog-button,
.music-and-art-button {
  border: 4px solid red;
}
*/

.projects-button,
.blog-button,
.music-and-art-button {
  margin-left: -2.5vw;
}


.about-me-button,
.blog-button {
  align-self: flex-start;
}

.projects-button,
.music-and-art-button {
  align-self: flex-end;
}


.navbar li a img {
  width: 20vw;
}


.content-border {
  background-color: rgb(49,35,15);
  width: 80vw;
  border: 0.25vw solid black;
  padding: 1vw;
  margin-bottom: 15vw;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5vw;
  background-color: rgb(30, 30, 30);
  border: 0.25vw solid black;
  height: 100%;
  width: 100%;
  padding: 1.5vw;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(69, 69, 69,0.7);
  border: 1vw solid rgba(194,199,255,0.5);
  border-radius: 1vw;
  padding: 1vw 1.5vw;
}

.intro h2 {
  font-size: 2.7vw;
  color: rgb(224, 224, 224);
  background-color: rgba(30, 30, 30, 0.7);
  padding: 1vw 1.5vw;
  margin-bottom: 2vw;
  margin: -1vw -1.5vw 0vw -1.5vw;
}

.intro-content {
  display: flex;
  column-gap: 2vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.intro-content p {
  color: rgb(224, 224, 224);
  font-size: 1.5vw;
  line-height: 2.5vw;
}

.intro-content img {
  width: 20vw;
  box-shadow: 0.5vw 0.5vw 0.7vw black;
}

.interests {
  display: flex;
  flex-direction: column;
  background-color: rgba(69, 69, 69,0.7);
  border: 1vw solid rgba(194,199,255,0.5);
  border-radius: 1vw;
  padding: 1vw 1.5vw;
}

.interests h2 {
  font-size: 2.7vw;
  color: rgb(224, 224, 224);
  background-color: rgba(30, 30, 30, 0.7);
  padding: 1vw 1.5vw;
  margin-bottom: 2vw;
  margin: -1vw -1.5vw 0vw -1.5vw;
}

.interests-content {
  display: flex;
  column-gap: 2vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.interests-content-text {
  display: flex;
  flex-direction: column;
}

.interests-content-text p {
  color: rgb(224, 224, 224);
  margin: 1vw 0vw;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

.interests-content a {
  color:rgb(224, 224, 224);
}

.interests-content-text ul {
  color: rgb(224, 224, 224);
  font-size: 1.5vw;
  margin-left: 1vw;
  line-height: 2.5vw;
}

.interests-content-text ul li {
  font-size: 1.5vw;
  margin-left: 2vw;
}

.interests-content-text ul li span {
  color: rgb(224, 224, 224);
  font-size: 1.5vw;
}

.interests-content-imgs {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
}

.interests-content-imgs p {
  color: rgb(224, 224, 224);
  font-size: 1.5vw;
  line-height: 2.5vw;
}

.interests-content-imgs img {
  width: 20vw;
  box-shadow: 0.5vw 0.5vw 0.7vw black;
}

/* End of About Me Page */

/* Projects Page */

/* Blog Page */

/* Music and Art Page */

.music {
  display: flex;
  flex-direction: column;
  background-color: rgba(69, 69, 69,0.7);
  border: 1vw solid rgba(194,199,255,0.5);
  border-radius: 1vw;
  padding: 1vw 1.5vw;
}

.music h2 {
  font-size: 2.7vw;
  color: rgb(224, 224, 224);
  background-color: rgba(30, 30, 30, 0.7);
  padding: 1vw 1.5vw;
  margin-bottom: 2vw;
  margin: -1vw -1.5vw 0vw -1.5vw;
}

.music-content {
  display: flex;
  flex-direction: column;
  column-gap: 2vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.music-content p {
  color: rgb(224, 224, 224);
  margin: 1vw 0vw;
  font-size: 2vw;
  line-height: 2.5vw;
}

.art {
  display: flex;
  flex-direction: column;
  background-color: rgba(69, 69, 69,0.7);
  border: 1vw solid rgba(194,199,255,0.5);
  border-radius: 1vw;
  padding: 1vw 1.5vw;
}

.art h2 {
  font-size: 2.7vw;
  color: rgb(224, 224, 224);
  background-color: rgba(30, 30, 30, 0.7);
  padding: 1vw 1.5vw;
  margin-bottom: 2vw;
  margin: -1vw -1.5vw 0vw -1.5vw;
}

.art-content {
  display: flex;
  flex-direction: column;
  column-gap: 2vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.photo-row p {
  color: rgb(224, 224, 224);
  margin: 0.5vw 0vw 2vw 0vw;
  font-size: 1.5vw;
  line-height: 2vw;
}

.photo-row {
  display: flex;
  justify-content: space-between;
}

.left-photo {
  width: 30vw;
}

.right-photo {
  width: 30vw;
}

.left-photo img {
  width: 100%;
}

.right-photo img {
  width: 100%;
}