* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/GW-body-Background.jpg");
  background-size: contain;
  background-position: center;
  background-color: rgb(13,20,35);
  font-family: Helvetica;
}
  
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/GW-Header-BG.jpg"); 
  background-size: cover; 
  background-position: bottom;
  max-width: 1920px;
  height: 100%;
  width: 100%;
  height: 40vw;
  margin: 0 auto;
}

.navbar {
  display: flex;
  height: 12.6vw;
  width: 73vw;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin-top: 9vw;
  column-gap: 1.5vw;

}

/*
.about-me-button,
.projects-button,
.blog-button,
.music-and-art-button {

}
*/

.about-me-button,
.blog-button {
  align-self: flex-start;
}

.projects-button,
.music-and-art-button {
  align-self: flex-end;
}


.navbar li a img {
  width: 17.55vw;
}


.content-border {
  height: 75vw;
  background-color: rgb(49,35,15);
  width: 75vw;
  border: 4px solid black;
  padding: 1vw;
}

.content {
  /*background-color: rgb(64,45,16);*/
  background-color: rgb(30, 30, 30);
  border: 4px solid black;
  height: 100%;
  width: 100%;
}